
.vs/BinanceAPI/v16/

.vs/BinanceAPI/v17/

BinanceAPI/DataFiles/a.txt

BinanceAPI/DataFiles/RestResponseHistory.txt

BinanceAPI/Debug/

BinanceAPI/Release/

BinanceAPI/x64/Debug/

BinanceAPI/x64/Release/

Debug/

Release/
